@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;900&family=Outfit:wght@300&display=swap');

    body{
        margin:auto;
        background-color: white;
    }
    
    .container{
     max-height: 800px;
    max-width: 1275px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding-right:82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .header{
    height: 800px;
    width: 450px;
    left: 0px;
    top: 1px;
    border-radius: 0px;
    background-color: black;
    
    }
    
    .header>h1{
    font-family: Big Shoulders Display;
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 0px;
    text-transform: uppercase;
        position: relative;
        top: 100px;
        left:165px;
        color: white;
        mix-blend-mode: difference;
    
    }
  
    span:after{
        color: black;
        
    }
    
    .head-img{
    height: 800px;
    width: 540px;
    border-radius: 0px;
    
    }
     .heading-details > p{
       
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    top: 150px;
    right: 55px;
    
     }
.button{
    height: 72px;
width: 250px;
position: absolute;
left: 925px;
top: 360px;
border-radius: 0px;
background: linear-gradient(to right, black 0%, black 80%, #D5966C 80%, #D5966C 100%); 
display: flex;
flex-direction: row;
justify-content: space-around;
}

.button a{

color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 25px;
font-family: Outfit;
padding-top: 20px;
}



.button:hover{
    background: linear-gradient(to right, #D5966C 0%, #D5966C 80%, black 80%, black 100%); 
}
   
    .mid-grid{
       /*display: grid;*/
       padding: 180px 165px 0px 165px;
       max-width: 100%;
       
       }
       
       .top-content{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           
           grid-gap: 10px;
         
       }
        .content1{
           text-transform: uppercase;
           position: absolute;
         
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    
         
       }
       .paragraph_2{
           position: absolute;
           left: 170px;
           padding-top: 152px;
           line-height: 30px;
    
    font-family: Outfit;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    
       }
       
       .pic1{
           max-height: 400px;
           max-width: 635px;
           padding-left: 480px;
           
       
       }
       .side-content2{
           display: flex;
           flex-direction: row; 
           gap: 30px;
           
           
       }
       
       .side-content3{
           display: flex;
           flex-direction: column;
           gap: 30px;
           
       }
       .pic2{
           position: inherit;
           left: 200px;
           max-height: 720px;
           max-width: 635px;
       }
       
       .pic3{
           height: 313px;
           width: 445px;
       }
       
       .bottom-info{
           width:445px;
           height:377px;
           background-color: black;
           
       }
       
       .content2{
        font-family: Big Shoulders Display;
           color: white;
           text-transform: uppercase;
           padding-top: 20px;
           padding-left: 50px;
           font-size: 40px;
           line-height: 60px;
       }
       
       .paragraph_3{
        font-family: Outfit;
           color: white;
           font-size: 22px;
           line-height: 32px;
           padding-top: 20px;
           padding-left: 50px;
          
       }
    footer{
     margin-top: 180px;
    border-radius: 0px;
    background-color: black;
    
    }
    
    .footer-details{
       display: flex;
       padding: 80px 165px 80px 165px;
       justify-content: space-between;
    }
    
    .footer-details > h1{
       color: white;
       text-transform: uppercase;
       font-family: Big Shoulders Display;
    
    }
    
    .footer-details > p {
    color: white;
    font-family: Outfit;
    }
    
    .social-icons, ul, li{
       position: relative;
       bottom: 10px;
       
    }
    
    .social-icons, ul, li, svg{
        fill: white;
        display: inline-block;
        padding: 5px;
        left: 20px;
        
     }
    
     .social-icons>ul>li>svg:hover{
        
        fill: #D5966C;
        cursor: pointer;
        
     }
    



 /**********bigger screen than mobile view**************/

 @media screen and (min-width: 765px) and (max-width: 1200px) {
    

    body{
        margin:auto;
        background-color: white;
    }
    
    .container{
     height: 700px;
    width: 100vw;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding-right:0px;
    display: block;

    }
   .header{
    background-color: white;
    height: 0;
    width: 0;
   }
    .header>h1{
    font-family: Big Shoulders Display;
    font-size: 70px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-transform: uppercase;
        position: absolute;
        top: 100px;
        left:400px;
        color: white;
        z-index: 5;
    /*mix-blend-mode: exclusion;*/
    }
  
    span:after{
        color: black;
        
    }
    
    .head-img img{
      
    position: absolute;
    height: 700px;
width: 437px;
left: 0px;
top: 0px;
border-radius: 0px;

    border-radius: 0px;
    z-index: 1;
    
    }
     .heading-details > p{
       
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 300px;
    left: 400px;
    white-space: nowrap;
    z-index: 5;
    
     }
.button{
    height: 72px;
width: 250px;
position: absolute;
left: 400px;
top: 450px;
border-radius: 0px;
background: linear-gradient(to right, black 0%, black 80%, #D5966C 80%, #D5966C 100%); 
display: flex;
flex-direction: row;
justify-content: space-around;
z-index: 5;
}

.button a{

color: white;
text-decoration: none;
text-transform: uppercase;
font-size: 25px;
font-family: Outfit;
padding-top: 20px;
}



.button:hover{
    background: linear-gradient(to right, #D5966C 0%, #D5966C 80%, black 80%, black 100%); 
}
   
    .mid-grid{
       display: inline-block;
       padding: 120px 40px 120px 40px;
       max-width: 100%;
       
       }
       
       .top-content{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-gap: 5px;
         
       }
        .content1{
           text-transform: uppercase;
           position: absolute;
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    
         
       }
       .paragraph_2{
           position: absolute;
           left: 50px;
           padding-top: 152px;
           line-height: 30px;
    
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    
       }
       .pic1{
        padding-left: 280px;
       }
       #pic-1{
        background: url(./assets/tablet/image-grid-1.jpg) no-repeat !important;
        width: 398px;
        height: 400px;
top: 820px;
border-radius: 0px;

           padding-left: 5px;
           
       }
       .side-content2{
           display: flex;
           flex-direction: row; 
           gap: 15px;
           
           
       }
       
       .side-content3{
           display: flex;
           flex-direction: column;
           gap: 15px;
           
           
       }
       

     #pic-2{
         background: url(./assets/tablet/image-grid-2.jpg);
           height: 700px;
width: 398px;
left: 39px;
top: 1231px;
border-radius: 0px;

       }
       .pic3{
width: 280px;
       }
         
       #pic-3{
        background: url(./assets/tablet/image-grid-3.jpg);
           height: 313px;
           width: 280px;
          
       }
       
       .bottom-info{
           width:280px;
           height:377px;
           background-color: black;
           
       }
       
       .content2{
        font-family: Big Shoulders Display;
           color: white;
           text-transform: uppercase;
           padding-top: 20px;
           padding-left: 28px;
           font-size: 50px;
           line-height: 60px;
       }
       
       .paragraph_3{
        font-family: Outfit;
           color: white;
           font-size: 16px;
           line-height: 25px;
           padding-top: 5px;
           padding-left: 20px;
          /* white-space: nowrap;*/
          
       }
    footer{
     margin-top: 130px;
    border-radius: 0px;
    background-color: black;
    width: 100%;
    
    }
    
    .footer-details{
       display: flex;
       padding: 56px 40px 56px 40px;
       justify-content: space-between;
    }
    
    .footer-details > h1{
       color: white;
       text-transform: uppercase;
       font-family: Big Shoulders Display;
       font-size: 25px;
    
    }
    
    .footer-details > p {
    color: white;
    font-family: Outfit;
    font-size: 16px;
    }
    
    .social-icons, ul, li{
       position: relative;
       bottom: 10px;
       
    }
    
    .social-icons, ul, li, svg{
        fill: white;
        display: inline-block;
        padding: 5px;
        left: 10px;
        
     }
    
     .social-icons>ul>li>svg:hover{
        
        fill: #D5966C;
        cursor: pointer;
        
     }
   
   
}










   /***************mobile view***************/

   @media screen and (min-width: 320px) and (max-width: 767px) {

    html,body{
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow-x: hidden;
        
       
    }

    .container{
      width: 375px;  
left: 0px;
top: 0px;
border-radius: 0px;
padding: 0;

 
       }
       .header{
       height: 110px;
       width: 375px;
       left: 16px;
       top: 272px;
       border-radius: none;
       
       
       }
   div#head-img{
    width: 275px;
    padding: 0;
   }
    
     #head-img, img{
        background: url(./assets/mobile/image-hero@2x.jpg);
        background: no-repeat;
        background-size: cover;
        height: 240px;
        width: 400px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        border-radius: 0px;
        position: absolute;

       
    }

     .header>h1{
       
       
        font-family: Big Shoulders Display;
font-size: 60px;
font-weight: 900;
line-height: 55px;
letter-spacing: 0px;

position: absolute;

left: 30px;
top: 250px;

    }

    .heading-details>p{
        position: absolute;
        top: 400px;
        left: 30px;
        font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
    }

.button{
    position: absolute;
    left: 34px;
    top: 600px;
   
}
   

.top-content{
    display: flex;
    flex-direction: column;
}
 
.top-content>div#pic1 img{
   /* background-image: url(./assets/mobile/image-grid-1.jpg);*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    height: 320px;
    width: 343px;
    left: 20px;
    top: 800px;
    border-radius: 0px;
    /*padding: 120px 16px 0px 16px;*/
  
    
    

}

.top-content > .content1{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
padding: 25px 16px 0px 16px ;
position: absolute;
left: 15px;
top: 1080px;
}
.top-content>#paragraph_2{
   position: absolute;
   top: 1080px;
   left: 25px;

}

.side-content2{
    display: flex;
    flex-direction: column;
}

.pic2 img{
    position: absolute;
    height: 480px;
width: 343px;
left: 20px;
top: 1450px;
border-radius: 0px;

}
.side-content3{
    display: flex;
    flex-direction: column;
    position: absolute;
   height: 293px;
width: 243px;
left: 15px;
top: 1980px;
border-radius: 0px;
}
.pic3{
    display: block;
    width: 375px;
    left: 8px;
    overflow-x: hidden;
}
.pic3 img{  
    background: url(./assets/mobile/image-grid-3.jpg);
position: absolute;
height: 320px;
width: 343px;
left: 8px;
bottom: 900px;
border-radius: 0px;
overflow-x: hidden;
}

.bottom-info{
    position: absolute;
    width: 343px;
    height: 293px;
    left: 10px;
    top: 400px;
}
.bottom-info>.content2{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
text-align: left;

}
.bottom-info>.paragraph_3{
    font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
text-align: left;

}
 
footer{
    position: absolute;
    top: 2575px;
    width: 100%;
overflow-x: hidden;



   
    

}

.footer-details{
   display: flex;
   flex-direction: column;
text-align: left;
border-radius: 0px;
bottom: 0px;
padding: 0 0 20px 0;
overflow-y: hidden;
overflow-x: hidden;

}

.footer-details>h1{

font-family: Big Shoulders Display;
padding-left: 32px;
padding-top: 48px;


}




.footer-details > p{
font-family: Outfit;
font-size: 14px;
font-weight: 300;
line-height: 26px;
text-align: left;
position: relative;
left: 30px;
white-space: nowrap;



}

.social-icons, ul, li{
    position: relative;
    bottom: 10px;
    
 }
 
 .social-icons, ul, li, svg{
     fill: white;
     display: inline-block;
     padding: 5px;
     left: 5px;
     
  }



 }


 
