@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;900&family=Outfit:wght@300&display=swap');

    body{
        margin:auto;
        background-color: white;
    }
    
    .container{
     max-height: 800px;
    max-width: 1275px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding-right:82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .header{
    height: 800px;
    width: 450px;
    left: 0px;
    top: 1px;
    border-radius: 0px;
    background-color: black;
    
    }
    
    .header>h1{
    font-family: Big Shoulders Display;
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 0px;
    text-transform: uppercase;
        position: relative;
        top: 100px;
        left:170px;
        color: white;
    
    }
    span{
        color: black;
    }
    
    .head-img{
        /*background-image: url(./assets/desktop/image-hero.jpg);*/
    height: 800px;
    width: 540px;
    border-radius: 0px;
    
    }
     .heading-details > p{
       
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    top: 150px;
    right: 55px;
    
     }
    
     .button{
        background-color: black;
      border: none;
      color: white;
      font-family: Outfit;
      font-weight: 800;
      text-align: center;
      text-decoration: none;
      height: 72px;
      width: 260px;
      border-radius: 0px;
      font-size: 25px;
      cursor: pointer;
      position: relative;
      left: 925px;
      bottom: 450px;
      padding: 30px 20px 0 0;
      
     }
     .button1{
        background-color: #D5966C;
        border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      height: 72px;
      width: 56px;
      border-radius: 0px;
      cursor: pointer;
      position: relative;
      left: 710px;
      bottom: 450px;
      padding-top: 30px;
     }
    
    
    .mid-grid{
       /*display: grid;*/
       padding: 180px 165px 0px 165px;
       max-width: 100%;
       
       }
       
       .top-content{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           
           grid-gap: 10px;
         
       }
        .content1{
           text-transform: uppercase;
           position: absolute;
         
    font-family: Big Shoulders Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    
         
       }
       .paragraph_2{
           position: absolute;
           left: 170px;
           padding-top: 152px;
           line-height: 30px;
    
    font-family: Outfit;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    
       }
       
       .pic1{
           max-height: 400px;
           max-width: 635px;
           padding-left: 480px;
           
       
       }
       .side-content2{
           display: flex;
           flex-direction: row; 
           gap: 30px;
           
           
       }
       
       .side-content3{
           display: flex;
           flex-direction: column;
           gap: 30px;
           
       }
       .pic2{
           position: inherit;
           left: 200px;
           max-height: 720px;
           max-width: 635px;
       }
       
       .pic3{
           height: 313px;
           width: 445px;
       }
       
       .bottom-info{
           width:445px;
           height:377px;
           background-color: black;
           
       }
       
       .content2{
           color: white;
           text-transform: uppercase;
           padding-top: 20px;
           padding-left: 50px;
           font-size: 40px;
           line-height: 60px;
       }
       
       .paragraph_3{
           color: white;
           font-size: 22px;
           line-height: 32px;
           padding-top: 20px;
           padding-left: 50px;
          
       }
    footer{
     margin-top: 180px;
    border-radius: 0px;
    background-color: black;
    
    }
    
    .footer-details{
       display: flex;
       padding: 80px 165px 80px 165px;
       justify-content: space-between;
    }
    
    .footer-details > h1{
       color: white;
       text-transform: uppercase;
       font-family: Big Shoulders Display;
    
    }
    
    .footer-details > p {
    color: white;
    font-family: Outfit;
    }
    
    .social-icons, ul, li{
       position: relative;
       bottom: 10px;
       
    }
    
    .social-icons, ul, li, svg{
        display: inline-block;
        padding: 5px;
        
     }
    
     .social-icons>ul>li>svg:hover{
        
        background-color: #D5966C;
        cursor: pointer;
        
     }
    



 /**********bigger screen than mobile view**************/

 @media screen and (min-width: 770px) and (max-height="1355px"){
   
    body{
    
        margin: 0;
    }

    .container{
        
left: 0px;
top: 0px;
border-radius: 0px;


       
       }
       .header{
       height: 110px;
       width: 343px;
       left: 16px;
       top: 272px;
       border-radius: nullpx;
       
   
       
       
       }
   
    
     #head-img, img{
        background: url(./assets/mobile/image-hero@2x.jpg);
        background: no-repeat;
        height: 375px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
left: 0px;

        top: 0px;
        border-radius: 0px;
        position: absolute;
       
       
    }

     .header>h1{
        display: block;
        color: black;
        font-family: Big Shoulders Display;
font-size: 60px;
font-weight: 900;
line-height: 55px;
letter-spacing: 0px;

position: absolute;

left: 30px;
top: 350px;

    }

    .heading-details>p{
        position: absolute;
        top: 500px;
        left: 30px;
        font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
    }


   
#button{
        background-color: black;
        height: 72px;
width: 204px;
position: absolute;
top: 700px;
left: 30px;
color: white;
font-family: Outfit;
    }

#button1 {
    background-color: #D5966C;
    height: 72px;
    width: 56px;
    
    border-radius: 0px;
    
position: absolute;
top: 700px;
left: 250px;
color: white;
font-family: Outfit;
}

.top-content{
    display: flex;
    flex-direction: column;
}
 
.top-content>div#pic1{
    background-image: url(./assets/mobile/image-grid-1.jpg);
    position: absolute;
    height: 200px;
    width: 10px;
    left: 0px;
    top: 900px;
    border-radius: 0px;
    
    

}

.top-content > .content1{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
padding: 25px 16px 0px 16px ;
position: absolute;
left: 20px;
top: 1250px;
}
.top-content>#paragraph_2{
   position: absolute;
   top: 1250px;
   left: 25px;

}

.side-content2{
    display: flex;
    flex-direction: column;
}

.pic2 img{
    height: 480px;
width: 450px;
left: 16px;
border-radius: 0px;

    position: absolute;
    top: 1570px;
    
}
.side-content3{
    position: absolute;
   height: 293px;

left: 15px;
top: 2080px;
border-radius: 0px;
}

.side-content3>div.pic3 img{
    height: 320px;
width: 450px;
position: relative;
left: 0px;
bottom: 700px;
border-radius: 0px;

}


.bottom-info>.content2{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
text-align: left;

}
.bottom-info>.paragraph_3{
    font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
text-align: left;

}
 
footer{
    position: absolute;
    top: 2575px;
    width: 100%;
   
    

}

.footer-details{
   display: flex;
   flex-direction: column;
text-align: left;
border-radius: 0px;
bottom: 0px;
padding: 0 0 20px 0;

}

.footer-details>h1{

font-family: Big Shoulders Display;
padding-left: 32px;
padding-top: 48px;


}

.footer-details>p{
font-family: Outfit;
padding-left: 32px;
line-height: 30px;

}

.social-icons{
   
    padding: 20px 0 0 30px ;
}




}


   /***************mobile view***************/

   @media screen and (min-width: 320px) and (max-width: 750px) {

    body{
    
        margin: 0;
    }

    .container{
        
left: 0px;
top: 0px;
border-radius: 0px;


       
       }
       .header{
       height: 110px;
       width: 343px;
       left: 16px;
       top: 272px;
       border-radius: nullpx;
       
       background-color: white;
       
       
       }
   
    
     #head-img, img{
        background: url(./assets/mobile/image-hero@2x.jpg);
        background: no-repeat;
        height: 375px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
left: 0px;

        top: 0px;
        border-radius: 0px;
        position: absolute;
       
       
    }

     .header>h1{
        display: block;
        color: black;
        font-family: Big Shoulders Display;
font-size: 60px;
font-weight: 900;
line-height: 55px;
letter-spacing: 0px;

position: absolute;

left: 30px;
top: 350px;

    }

    .heading-details>p{
        position: absolute;
        top: 500px;
        left: 30px;
        font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
    }


   
#button{
        background-color: black;
        height: 72px;
width: 204px;
position: absolute;
top: 700px;
left: 30px;
color: white;
font-family: Outfit;
    }

#button1 {
    background-color: #D5966C;
    height: 72px;
    width: 56px;
    
    border-radius: 0px;
    
position: absolute;
top: 700px;
left: 250px;
color: white;
font-family: Outfit;
}

.top-content{
    display: flex;
    flex-direction: column;
}
 
.top-content>div#pic1{
    background-image: url(./assets/mobile/image-grid-1.jpg);
    position: absolute;
    height: 200px;
    width: 10px;
    left: 0px;
    top: 900px;
    border-radius: 0px;
    
    

}

.top-content > .content1{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
padding: 25px 16px 0px 16px ;
position: absolute;
left: 20px;
top: 1250px;
}
.top-content>#paragraph_2{
   position: absolute;
   top: 1250px;
   left: 25px;

}

.side-content2{
    display: flex;
    flex-direction: column;
}

.pic2 img{
    height: 480px;
width: 450px;
left: 16px;
border-radius: 0px;

    position: absolute;
    top: 1570px;
    
}
.side-content3{
    position: absolute;
   height: 293px;

left: 15px;
top: 2080px;
border-radius: 0px;
}

.side-content3>div.pic3 img{
    height: 320px;
width: 450px;
position: relative;
left: 0px;
bottom: 700px;
border-radius: 0px;

}


.bottom-info>.content2{
    font-family: Big Shoulders Display;
font-size: 50px;
font-weight: 900;
line-height: 45px;
letter-spacing: 0px;
text-align: left;

}
.bottom-info>.paragraph_3{
    font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
text-align: left;

}
 
footer{
    position: absolute;
    top: 2575px;
    width: 100%;
   
    

}

.footer-details{
   display: flex;
   flex-direction: column;
text-align: left;
border-radius: 0px;
bottom: 0px;
padding: 0 0 20px 0;

}

.footer-details>h1{

font-family: Big Shoulders Display;
padding-left: 32px;
padding-top: 48px;


}

.footer-details>p{
font-family: Outfit;
padding-left: 32px;
line-height: 30px;

}

.social-icons{
   
    padding: 20px 0 0 30px ;
}


 }


 
